<html>
<head><title>test</title>
        <style>
                body {
                background-image: url(../static/akatsuki_web_page_low_poly_1.png);
                background-size: cover;
                display: flex;
        }
                h1 {
                        color:blueviolet;
                        text-shadow: 2px 2px 4px #424040c4;
        }
        </style>
</head>
<body>
<h1>{{name}} was at home sitting in his favourite {{adj}} chair. <br>
        {{name2}} asks where the pet baby {{animal}} is<br>
        {{name}} realizes it wasn't the chicken he put in the oven.</h1>

</body>
</html>