<html>
<head><title>test</title>
        <style>
                body {
                background-image: url(../static/nazidonald.png);
                background-size: cover;
                display: flex;
        }
                h1 {
                        color:rgb(226, 147, 43);
                        text-shadow: 2px 2px 4px #424040c4;
        }
        </style>
</head>
<body>
<h1>{{name}} : *knock* *knock* <br>
        {{name2}} : who's there?<br>
        {{name}} : the {{animal}}<br>
        {{name2}} : the {{animal}} who ?<br>
        {{name}} : the {{animal}} that caused the Holocaust<br>
        {{name2}} : wait wasn't that Hitler ?<br>
        {{name}} : * removes the {{adj}} mask *<br>
        {{name2}} : *gasps*</h1>

</body>
</html>