<html>
<head><title>test</title>
    <style>
        body {
            background-image: url(../static/king_bob.png);
            background-size: cover;
            display: flex;
        }
        h1 {
                
                color:rgb(43, 226, 186);
                text-shadow: 2px 2px 4px #424040c4;
}
</style>
</head>
<body>
<h1>Announcer : All behold and welcome lord {{name2}} the King of {{ec}}<br>
    {{name}} : Oh great lord... world's seventh greatest {{insect}} collector<br>
                I beg of you to bring me justice<br>
        {{name2}} : For what crime do you seek justice?<br>
        {{name}} : The royal {{animal}} killed green<br>
        {{name2}} : What proof do you have?<br>
        {{name}} : Idk he lookin kinda sus<br> 
        {{name2}} : *thinks {{adj}}ly*<br><br><br><br>
        *Royal {{animal}} was not an Imposter.*
        
    </h1>

</body>
</html>