<html>
<head><title>test</title>
        <style>
                body {
                background-image: url(../static/yeeet.png);
                background-size: cover;
                display: flex;
        }
                h1 {
                        color:rgb(226, 43, 83);
                        text-shadow: 2px 2px 4px #424040c4;
        }
        </style>
</head>
<body>
<h1>{{name}} was walking down the {{adj}} street <br>
        when suddenly .... {{name2}} yells from across the street YEEET<br>
        as he goes on to throw a baby {{animal}} towards the general direction on {{name}}</h1>

</body>
</html>