<html>
<body>
    <a href="static\akatsuki_web_page_low_poly.gif" download>download</a>
    <h1>Hello There...</h1>
    <h2>This is simple Just Enter the magic words and<br>Let the magic happen</h2>
    <form action = "#" method = "POST">
        <p>A Name <input type = "text" name = "Name" /></p>
        <p>Another Name <input type = "text" name = "Name2" /></p>
        <p>An animal <input type = "text" name = "animal" /></p>
        <p>Adjective <input type ="text" name = "Adjective" /></p>
        <p>Everyday chore <input type ="text" name = "ec" /></p>
        <p>An insect<input type ="text" name = "insect" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    <!-- <img src="{{url_for('static', filename='302315.png')}}"> -->
</body>
</html>