<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>CONTACT US</title>
    </head>
    <body background ="bgtexture.png" bgcolor="#FFCC50 ">
    <hr>
        <form action="#" method="POST">
            <p>
                <label for="name">Name:</label>
            
                <input type="text" id="name" name="name" placeholder="Your Name"><br><br></p>
            <p>
                <label for="email">Email:</label>
            
                <input type="text" id="email" name="email" placeholder="Your Email"><br><br></p>
            <p>
                <label for="num">Mobile:&nbsp;</label>
            
                <input type="text" id="num" name="num" placeholder="Your Mobile Number"><br><br></p>
            <p>
                <input type="submit" value="Submit">&nbsp;
            
                <input type="reset" value="Reset"></p>
        </form>
    </body>
    
</html>